.navLink {
    color: #64748B;

}

.navLink:hover {
    font-weight: 600;
}

.activeLink {
    background-color: #FFF7ED;
    color: #FF6D3A;
    font-style: italic;
    font-weight: 800;
    padding: 9px 18px;
    border-radius: 10px;

}

.activeLink:hover {
    background-color: #FF6D3A;
    color: #FFF7ED;

}